@model ShoppingCart.Entity.CityModel
@{
    ViewBag.Title = "InsertCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/MyCss.css" rel="stylesheet" />
<style>
    .btn-xs {
        width: 69px;
    }
</style>
<h4>Insert City</h4>
<div>
    @using (@Html.BeginForm())
    {
        <div class="DivHeight">
            <div class="leftcolumn">
                @Html.LabelFor(x => x.CityName)<span class="star">*</span>:
            </div>
            <div class="rightcolumn">
                <div class="DivWidth">
                    <div style="display:inline-block">@Html.TextBoxFor(x => x.CityName, new { @maxlength = "50",tabindex="1",@class="form-control" })</div>
                    @Html.HiddenFor(x => x.StateId)
                    <div style="display:inline-block" class="validationMessage">@Html.ValidationMessageFor(x => x.CityName)</div>
                </div>
                <input type="submit" id="Button" class="saveBack btn-xs" value="Save" tabindex="2" />&nbsp;&nbsp;
                <input type="button" id="Button" class="saveBack btn-xs" value="Back"  tabindex="3" onclick="@("location.href='"+Url.Action("Index","City",new { id=@Model.StateId})+"'" )"
            </div>
        </div>
    }
</div>

