@model List<ShoppingCart.Entity.OrderHistoryModel>
@{
    ViewBag.Title = "GetRecentOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    int count = 0;
}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/js/jquery.dataTables.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
@*<div id="content" class="col-sm-9">*@
    <h1>Recent Orders </h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="RecentOrderTable">
            <thead>
                <tr>
                    <td class="text-center">Order ID</td>
                    <td class="text-center">Date Added</td>
                    <td class="text-center">No. of Products</td>
                    <td class="text-center">Customer</td>
                    <td class="text-center">Total</td>
                    <td ></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {

                    if (count <= 9)
                    {
                        count++;
                        <tr>
                            <td class="text-center">#@order.OrderId</td>
                            <td class="text-center">@order.CreatedOn</td>
                            <td class="text-center">@order.TotalQuantity</td>
                            <td class="text-center">@order.FirstName @order.LastName</td>
                            <td class="text-center">Rs. @order.TotalPrice</td>
                            <td class="text-center"> 
                                <input type="button" class="btn btn-primary"  name="view" value="View" onclick="@("location.href='"+Url.Action("ViewOrder","Order",new {id=order.OrderId })+"'" )" />
                            </td>
                        </tr>
                    }
                    else
                    {
                        break;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="text-right"></div>
    <div class="buttons clearfix" style="margin-top:25px">
        <div class="pull-right"><a href="/UserAdmin/Index" class="btn btn-primary">Continue</a></div>
    </div>
@*</div>*@
<script>
    $(document).ready(function () {

        $("#RecentOrderTable").DataTable({
            columnDefs: [
                           { "targets": 5, "orderable": false },
                        ]
        });

    });
</script>