@model ShoppingCart.Entity.OrderModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://code.jquery.com/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/Checkout.js"></script>
<script src="~/Scripts/AddressCascad.js"></script>
<style>
.form-field  label{
    padding:5px;
    color:#222;
    font-family:corbel,sans-serif;
    font-size: 14px;
    margin: 10px;
}

.confirm-order{
    margin-top:113px;
    margin-left:650px;

}
.ui-datepicker-calendar {
    display: none;
    }
</style>
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
        <li><a href="/ShoppingCart/Index">Shopping Cart</a></li>
        <li><a href="javaScript:void(0)">Checkout</a></li>
    </ul>

@using (Html.BeginForm("Checkout","ShoppingCart",FormMethod.Post))
{
        <div class="checkbox">
            <label>
                <input name="shipping_address" value="" checked="checked" type="checkbox"  id="check-box" >
                My delivery and billing addresses are the same.
            </label>
        </div>
        <div class="col-sm-16" @*id="address"*@>
            <fieldset id="address" class="required">
                <legend> Address</legend>
                

                <div class="form-group  required col-lg-12">
                    <label class="control-label" for="input-payment-address-1">Address 1</label>
                    @*<input name="address_1" value="" placeholder="Address 1" id="input-payment-address-1" class="form-control" type="text">*@
                    @Html.TextBoxFor(x => x.ShippingAddress , new { @placeholder = "Address 1", @id = "input-payment-address-1", @class = "form-control", @type = "text" })
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ShippingAddress)</div>
                </div>
                
                <div class="form-group required col-lg-4">
                    <label class="control-label" for="input-payment-country">Country</label>
                    @*<input name="city" value="" placeholder="City" id="input-payment-city" class="form-control" type="text">*@
                    @Html.DropDownListFor(x => x.ShippingCountryId, new SelectList((System.Collections.IEnumerable)ViewData["CountryList"], "CountryId", "CountryName"), "Select Country", new { @id = "ddlCountry", @class = "form-control" })
                    @*@Html.DropDownListFor(x => x.ShippingCountryId, new List<SelectListItem>(), "Select Country", new { @id = "ddlCountry", @class = "form-control" })*@
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ShippingCountryId)</div>
                </div>
                <div class="form-group required col-lg-4">
                    <label class="control-label" for="input-payment-state">State</label>
                    @Html.DropDownListFor(x => x.ShippingStateId, new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "StateId", "StateName"), "Select State", new { @id = "ddlState", @class = "form-control" })
                    @*@Html.DropDownListFor(x => x.ShippingStateId, new List<SelectListItem>(), "Select State", new { @id = "ddlState", @class = "form-control" })*@
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ShippingStateId)</div>
                </div>
                <div class="form-group required col-lg-4">
                    <label class="control-label" for="input-payment-city">City</label>
                    @Html.DropDownListFor(x => x.ShippingCityId, new SelectList((System.Collections.IEnumerable)ViewData["CityList"], "CityId", "CityName"), "Select City", new { @id = "ddlCity", @class = "form-control" })
                   @* @Html.DropDownListFor(x => x.ShippingCityId, new List<SelectListItem>(), "Select City", new { @id = "ddlCity", @class = "form-control" })*@
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ShippingCityId)</div>
                </div>
                <div class="form-group required col-lg-4">
                    <label class="control-label" for="input-payment-postcode">Post Code</label>
                    @Html.TextBoxFor(x => x.ShippingPostCode, new { placeholder = "Post Code", @id = "input-payment-postcode", @class = "form-control", @type = "text",@maxlength="6" })
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.ShippingPostCode)</div>
                </div>

            </fieldset>
        </div>
    Html.RenderAction("_CartProductList", "ShoppingCart");
        @* </div> *@
<div class="col-sm-16" id="address">
       <fieldset>
           <legend>Payment Method</legend>
           <div class="form-field">
               <input checked="checked" id="payment1" name="CardorCashpayment" value="false" type="radio">
               <label for="payment1">Cash Payment</label>
               <input  id="payment2" name="CardorCashpayment" value="true" type="radio">
               <label for="payment2">Card Payment</label>
           </div>
       </fieldset>
    
       <fieldset id="card-details" class="hidden">
           <legend>Card Details</legend>
           <div class="form-group  required col-lg-4">
               <label class="control-label" for="input-payment-address-1">Card Number</label>
               @Html.TextBoxFor(x=>x.CardNumber, new { @id = "card-number", @class = "form-control", @maxlength = "16",@placeholder= "Card Number" })
               <div class="text-danger">@Html.ValidationMessageFor(x => x.CardNumber)</div>
               @*<input type="text" id="card-number" class = "form-control "/>*@
           </div>
           <div class="form-group  required col-lg-4">
               <label class="control-label" for="input-payment-address-1">C v v Code</label>
               @Html.TextBoxFor(x => x.CvvCode, new { @id = "cvv-code", @class = "form-control",@maxlength="3", @placeholder = "C v v Code",@type="password" })
               <div class="text-danger">@Html.ValidationMessageFor(x => x.CvvCode)</div>
           </div>
           <div class="form-group  required col-lg-4">
               <label class="control-label" for="input-payment-address-1">Expiry Details</label>
               @Html.TextBoxFor(x => x.ExpiryDetails, new { @id = "expiry-details", @class = "form-control ", @placeholder = "mm/yy"  })
               <div class="text-danger">@Html.ValidationMessageFor(x => x.ExpiryDetails)</div>
           </div>

       </fieldset>
    <hr />
    <div class="form-group  required col-lg-4">
        <label class="control-label" for="input-payment-address-1">Comment</label>
        @Html.TextAreaFor(x=>x.Comment, new { @id = "comment", @class = "form-control" })
    </div>
    <input type="submit" value="Confirm Order" class="confirm-order btn btn-large btn-primary " />
    </div>
 } 
    @*</div>*@
    <script>
        $(document).ready(function () {
            $('#expiry-details').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/y',
                yearRange: "+0:+50",
                minDate: "0",
                onClose: function (dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }
            });
            $.ajax({
                type: 'POST',
                url: "/ShoppingCart/BillingAddress",
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                success: function (data) {
                  //  $("#address").html(data);
                    //$("#cart-total").html(data.Quantity + " item(s)-Rs." + data.Price);
                },
                error: function () {
                    alert("Error");
                }
            });

            $("input[name='CardorCashpayment']").click(function () {
                debugger;
                if ($("#payment2").is(':checked'))
                {
                    debugger;
                    $("#card-details").removeClass("hidden");
                    $("#card-number").attr("required","true");
                    $("#cvv-code").attr("required","true");
                    $("#expiry-details").attr("required","true");
                }
                else
                {
                    $("#card-details").addClass("hidden");
                    $("#card-number").removeAttr('required');
                    $("#card-number").html("") ;
                    $("#cvv-code").removeAttr('required');
                    $("#expiry-details").removeAttr('required');
                }

            });

          
            $("#check-box").click(function () {
                debugger;
                var checkBox = $("#check-box").val();
                if (this.checked) {
                    $.ajax({
                        type: 'POST',
                        url: "/ShoppingCart/BillingAddress",
                        contentType: 'application/json; charset=utf-8',
                        datatype: 'json',
                        success: function (data) {
                            debugger;
                            $("#input-payment-address-1").val(data.Address1);
                            $("#ddlCountry").val(data.CountryId);
                            $("#ddlState").val(data.StateId);
                            $("#ddlCity").val(data.CityId);
                            $("#input-payment-postcode").val(data.Zip);
                        },
                        error: function () {
                            alert("Error");
                        }
                    });

                }
                else {
                    debugger;
                    $("#input-payment-address-1").val("");
                    $("#input-payment-address-2").val("");
                   $("#ddlCountry").val("");
                    $("#ddlState").val("");
                    $("#ddlCity").val("");
                    
                   
                    $("#input-payment-postcode").val("");
                }
            });


            });

       
    </script>
