@model ShoppingCart.Entity.LoginModel
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
   int retValue = Convert.ToInt32(Session["Massege"]);

}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/AddToCart.js"></script>
<ul class="breadcrumb">
    @if (Session["UserId"] != null)
    {
        <li><a href="../Home/Index"><i class="fa fa-home"></i></a></li>
        <li><a href="/Account/Index">Account</a></li>

    }
    else
    {
        <li><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
        <li><a href="javascript:void(0)">Account</a></li>
    }
    <li><a href="javascript:void(0)">Login</a></li>
</ul>
@if (TempData["LoginErrorMassege"] != null)
{
    <div class="alert alert-danger " id="EmailErrorDiv">
        <i class="fa fa-exclamation-circle"></i> Warning: @TempData["LoginErrorMassege"]
    </div>
}
<div class="row">
    <div id="content" class="col-sm-9">
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h2>New Customer</h2>
                    <p><strong>Register Account</strong></p>
                    <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                    <a href="/Register/Index" class="btn btn-primary">Continue</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="well">
                    <h2>Returning Customer</h2>
                    <p><strong>I am a returning customer</strong></p>
                    <form action="../Login/Index" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="control-label" for="input-email">E-Mail Address</label>
                            @*<input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />*@
                            @Html.TextBoxFor(x => x.Email, new { @maxlength = "50", @class = "form-control", @placeholder = "E-Mail", @id = "input-email" })
                            <p class="text-danger" >@Html.ValidationMessageFor(x => x.Email)</p>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="input-password">Password</label>
                            @*<input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />*@
                            @Html.PasswordFor(x => x.Password, new { @minlength = "6", @maxlength = "10", @class = "form-control", @placeholder = "Password", @id = "input-password" })
                            <p class="text-danger">@Html.ValidationMessageFor(x => x.Password)</p>
                            <a href="/Account/Index">Forgotten Password</a>
                        </div>
                        <input type="submit" id="submitButton" value="Login" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*<column id="column-right" class="col-sm-3 hidden-xs">
        <div class="list-group">
            <a href="http://plankter.co.inaccount/login" class="list-group-item">Login</a> <a href="http://plankter.co.inaccount/register" class="list-group-item">Register</a> <a href="http://plankter.co.inaccount/forgotten" class="list-group-item">Forgotten Password</a>
            <a href="http://plankter.co.inaccount/account" class="list-group-item">My Account</a>
            <a href="http://plankter.co.inaccount/address" class="list-group-item">Address Books</a> <a href="http://plankter.co.inaccount/wishlist" class="list-group-item">Wish List</a> <a href="http://plankter.co.inaccount/order" class="list-group-item">Order History</a> <a href="http://plankter.co.inaccount/download" class="list-group-item">Downloads</a> <a href="http://plankter.co.inaccount/reward" class="list-group-item">Reward Points</a> <a href="http://plankter.co.inaccount/return" class="list-group-item">Returns</a> <a href="http://plankter.co.inaccount/transaction" class="list-group-item">Transactions</a> <a href="http://plankter.co.inaccount/newsletter" class="list-group-item">Newsletter</a><a href="http://plankter.co.inaccount/recurring" class="list-group-item">Recurring payments</a>
        </div>
    </column>*@
</div>
<script>
    //$(document).ready(function () {

    //    $("#EmailErrorDiv").addClass("hidden");
    //    $("#submitButton").click(function () {
    //        $.ajax({
    //            type: "POST",
    //            url: "/Login/IsUserPresent",
    //            contentType: "application/json; charset=utf-8",
    //            datatype: "json",
    //            success: function (data) {
    //                if (data == 0)
    //                {
    //                    $("EmailErrorDiv").removeClass("hidden");
    //                }
    //                else
    //                {
    //                    $("#EmailErrorDiv").addClass("hidden");

    //                }
    //            },
    //            error: function (XMLHttpRequest, textStatus, errorThrown) {
    //                alert("error " + XMLHttpRequest + " xhr " + textStatus + " status " + errorThrown);
    //            },


    //        });

    //    });

    //});
</script>