@model List<ShoppingCart.Entity.ProductModel>
@{
    ViewBag.Title = "_ProductList";
}
@{ 
    int totalPrice = 0;
    string image = @Model.Select(x => x.ProductImage).FirstOrDefault();
}
    <li>
    <table class="table table-striped">
        <tbody>
    
@foreach (var item in @Model)
{ totalPrice = totalPrice + Convert.ToInt32(item.Price);
                    
                <tr>
                    <td class="text-center">
                        <a href="/Product/Index?id=@item.ProductId"><img src="http://plankter.co.in/Uploded_Images/Product/@item.ProductImage" alt="@item.ProductName" title="@item.ProductName" class="img-thumbnail" width="50" height="50"></a>
                    </td>
                    <td class="text-left">
                        <a href="/Product/Index?id=@item.ProductId">@item.ProductName</a>
                    </td>
                    <td class="text-right">x @item.Quantity</td>
                    <td class="text-right">Rs.@item.Price</td>
                    <td class="text-center"><button type="button" onclick="RemoveProduct(@item.ProductId);" title="Remove" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
                </tr>
                
}
            </tbody>
        </table>
    </li>
    <li>
        <div>
            <table class="table table-bordered">
                <tbody>

                    @*<tr>
                        <td class="text-right"><strong>Sub-Total</strong></td>
                        <td class="text-right">$601.00</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                        <td class="text-right">$4.00</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>VAT (20%)</strong></td>
                        <td class="text-right">$120.20</td>
                    </tr>*@
                    <tr>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-right">@totalPrice</td>
                    </tr>
                </tbody>
            </table>
            <p class="text-right"><a href="/ShoppingCart/Index"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a>&nbsp;&nbsp;&nbsp;<a href="/ShoppingCart/Checkout"><strong><i class="fa fa-share"></i> Checkout</strong></a></p>
        </div>
    </li>
<script>
    var totalPrice = $("#price").val();

</script>

